<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Métodos Numéricos</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilo personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <div class="container">
        <h1 class="text-center" style="color: #fff">Calculadora de Métodos Numéricos</h1>
        <script type="module">
            import 'https://unpkg.com/mathlive?module';
        </script>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group" id="funcionInput">
                    <label for="display" style="color: #fff">Ingrese la función:</label>
                    <math-field
                    id="displayMath"
                    virtual-keyboard-mode="onfocus"
                    style="width: 100%; min-height: 50px; font-size: 1.5em;"
                    ></math-field>
                    <input type="hidden" id="display">
                </div>
            </div>
        <div class="col-md-6">
                <div class="form-group">
                    <label for="method" style="color: #fff">Método:</label>
                    <select id="method" class="form-control" onchange="toggleFields()">
                        <option value="" disabled selected>Selecciona un método</option>
                        <option value="biseccion">Bisección</option>
                        <option value="puntoFijo">Punto Fijo</option>
                        <option value="newton">Newton Raphson</option>
                        <option value="secante">Secante</option>
                        <option value="euler">Euler</option>
                        <option value="jacobi">Jacobi</option>
                        <option value="trapecio">Trapecio</option>
                        <option value="gauss">Gauss-Seidel</option>
                        <option value="simpson">Regla de simpson</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Campos especificos segun el métodos seleccionado-->
        <div id="bisectionFields" class="bisection-container form-group">
            <label for="xi">Valor de xi:</label>
            <input type="number" class="form-control" id="xi" name="xi" step="any" required>
            <br>
            <label for="xu">Valor de xu:</label>
            <input type="number" class="form-control" id="xu" name="xu" step="any" required>
            <div class="text-center mt-4">
                <button id="sendBiseccion" class="btn btn-success mx-2">Enviar Datos</button>
                <button id="refreshButton" class="btn btn-secondary mx-2">Actualizar Datos</button>
            </div>
        </div>

        <div id="fixedPointFields" class="point-container form-group">
            <label for="transformada">Transformada de la función:</label>
            <math-field
            id="transformadaMath"
            virtual-keyboard-mode="onfocus"
            style="width: 100%; min-height: 50px; font-size: 1.5em;"
            ></math-field>
            <input type="hidden" id="transformada">
            <br>
            <label for="xo">Valor del punto inicial (xo):</label>
            <input type="number" class="form-control" id="xo" name="xo" step="any" required>
            <div class="text-center mt-4">
                <button id="sendpuntoFijo" class="btn btn-success mx-2">Enviar Datos</button>
                <button id="refreshButton" class="btn btn-secondary mx-2">Actualizar Datos</button>
            </div>
        </div>

        <div id="newtonFields" class="newton-container form-group">
            <label for="xo_newton">Valor del punto inicial (xo):</label>
            <input type="number" class="form-control" id="xo_newton" name="xo" step="any" required>
            <div class="text-center mt-4">
                <button id="sendNewton" class="btn btn-success mx-2">Enviar Datos</button>
                <button id="refreshButton" class="btn btn-secondary mx-2">Actualizar Datos</button>
            </div>
        </div>

        <div id="secanteFields" class="secante-container form-group">
            <label for="x0_sec">Valor de x0:</label>
            <input type="number" class="form-control" id="x0_sec" name="x0_sec" step="any" required>
            <br>
            <label for="x1_sec">Valor de x1:</label>
            <input type="number" class="form-control" id="x1_sec" name="x1_sec" step="any" required>
            <div class="text-center mt-4">
                <button id="sendSecante" class="btn btn-success mx-2">Enviar Datos</button>
                <button id="refreshButton" class="btn btn-secondary mx-2">Actualizar Datos</button>
            </div>
        </div>

        <div id="jacobiFields" class="jacobi-container form-group">
            <label for="nVar_jac">Número de variables:</label>
            <input type="number" class="form-control" id="nVar_jac" name="nVar_jac" min="1" value="3" required>

            <br>
            <label>Ingrese la matriz aumentada (coeficientes y términos independientes):</label>
            <div class="table-responsive">
                <table id="matriz_jac_table" class="table table-bordered">
                    <thead>
                        <tr id="matrix_header_jac"></tr>
                    </thead>
                    <tbody id="matrix_body_jac"></tbody>
                </table>
            </div>

            <br><br>
            <label for="jacobiDisplay">Solución:</label>
            <textarea class="form-control" id="jacobiDisplay" rows="4" readonly></textarea>
            <div class="text-center mt-4">
                <button id="sendJacobi" class="btn btn-success mx-2">Enviar Datos</button>
                <button id="refreshButton" class="btn btn-secondary mx-2">Actualizar Datos</button>
            </div>

        </div>


        <div id="gaussFields" class="gauss-container form-group">
            <label for="nVar_gau">Número de variables:</label>
            <input type="number" class="form-control" id="nVar_gau" name="nVar_gau" min="1" value="3" required>

            <br>
            <label>Ingrese la matriz aumentada (coeficientes y términos independientes):</label>
            <div class="table-responsive">
                <table id="matriz_gau_table" class="table table-bordered">
                    <thead>
                        <tr id="matrix_header"></tr>
                    </thead>
                    <tbody id="matrix_body"></tbody>
                </table>
            </div>

            <br><br>
            <label for="gaussDisplay">Solución:</label>
            <textarea class="form-control" id="gaussDisplay" rows="4" readonly></textarea>
            <div class="text-center mt-4">
                <button id="sendGauss" class="btn btn-success mx-2">Enviar Datos</button>
                <button id="refreshButton" class="btn btn-secondary mx-2">Actualizar Datos</button>
            </div>
        </div>

         <div id="trapecioFields" class="trapecio-container form-group">
            <label for="a_trap">Valor de a:</label>
            <input type="number" class="form-control" id="a_trap" name="a_trap" step="any" required>
            <br>
            <label for="b_trap">Valor de b:</label>
            <input type="number" class="form-control" id="b_trap" name="b_trap" step="any" required>
            <br>
            <label for="num_trap">Número de trapecios:</label>
            <input type="number" class="form-control" id="num_trap" name="num_trap" min="0" step="any" required>
            <div class="text-center mt-4">
                <button id="sendTrapecio" class="btn btn-success mx-2">Enviar Datos</button>
                <button id="refreshButton" class="btn btn-secondary mx-2">Actualizar Datos</button>
            </div>
        </div>


        <div id="simpsonFields" class="simpson-container form-group">
            <label for="a_simp">Valor de a:</label>
            <input type="number" class="form-control" id="a_simp" name="a_simp" step="any" required>
            <br>
            <label for="b_simp">Valor de b:</label>
            <input type="number" class="form-control" id="b_simp" name="b_simp" step="any" required>
            <br>
            <label for="num_simp">Número de trapecios:</label>
            <input type="number" class="form-control" id="num_simp" name="num_simp" min="0" step="any" required>
            <div class="text-center mt-4">
                <button id="sendSimpson" class="btn btn-success mx-2">Enviar Datos</button>
                <button id="refreshButton" class="btn btn-secondary mx-2">Actualizar Datos</button>
            </div>
        </div>

        <div id="eulerFields" class="method-fields" style="display:none">
            <label style="color: #fff">x₀:</label>
            <input type="number" id="x0">

            <label style="color: #fff">y₀:</label>
            <input type="number" id="y0">

            <label style="color: #fff">h (paso):</label>
            <input type="number" id="h" step="0.01">

            <label style="color: #fff">n (iteraciones):</label>
            <input type="number" id="n" value="10">

            <label style="color: #fff">Resultado:</label>
            <div id="eulerResultsContainer" class="euler-results-container"></div>
            <div class="text-center mt-4">
                <button id="sendEuler" class="btn btn-success mx-2">Enviar Datos</button>
                <button id="refreshButton" class="btn btn-secondary mx-2">Actualizar Datos</button>
            </div>
        </div>

<!-- Gráfica centrada -->
<div id="graphContainer" class="mt-5 text-center">
    <h3>Resultado</h3>
    <div id="graphDiv" style="width:100%;height:100%;"></div>
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Bootstrap.js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
<!-- Cargar el archivo JavaScript -->
<script src="{{ url_for('static', filename='app.js') }}"></script>
<script src="{{ url_for('static', filename='puntoFijo.js') }}"></script>
<script src="{{ url_for('static', filename='biseccion.js') }}"></script>
<script src="{{ url_for('static', filename='newton.js') }}"></script>
<script src="{{ url_for('static', filename='secante.js') }}"></script>
<script src="{{ url_for('static', filename='jacobi.js') }}"></script>
<script src="{{ url_for('static', filename='gauss.js') }}"></script>
<script src="{{ url_for('static', filename='trapecio.js') }}"></script>
<script src="{{ url_for('static', filename='simpson.js') }}"></script>
<script src="{{ url_for('static', filename='euler.js') }}"></script>

</body>

</html>
